<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vividio || <%= title %> </title>
</head>
<body style="padding: 0 5%;">
    <div class="navbar" style="width: 100%;display: flex;align-items: center;justify-content: center;background-color: rgb(184, 118, 118);margin: 0 auto;">
        <ul style="width: 90%;display: flex;align-items: center;justify-content: space-around; list-style: none;font-size: 20px; font-weight: 700;color: white;">
           <li><a href="/" style="text-decoration: none;color: white;"> Movies</a></li>
           <li><a href="/About" style="text-decoration: none;color: white;"> About</a></li>
           <li><a href="/new_movie" style="text-decoration: none;color: white;"> Add New</a></li>
       </ul>
   </div>
    <div class="movies" >
        <h3 style="text-align: center; text-decoration: underline;color: rgb(184, 118, 118);">Trending Movies</h3>
        <% if (movies.length < 1) { %>
            <p style="align-self:center ; "> No movies yet, check back later</p>
        <% } 
        else {
            %> <% movies.forEach(movies => { %>
                <div style=" background-color: rgb(184, 118, 118);padding: 5%;">
                    <a class="single" href="/movies/<%= movies._id %>" style="text-decoration: none;color: white;">
                    <h3 class="title" style="text-decoration: underline;"> Title: <%= movies.title %></h3>
                    <p class="snippet"> Genre: <%= movies.genre %></p>
                    <h3>overview:</h3>
                    <article style="width: 100%;text-align: center;font-size: 16px;">
                        <%= movies.overview %>
                        </article>
                    </a>    
                </div>
        <% }) %> <%
        } %>     
    </div>
</body>
</html>